<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p style="display:inline-block; vertical-align:top;">
    <h1>Welcome, {{request.session.name}}</h1>
    <a href="/add_book">Add Book and Review</a> 
    <a href="/logout">Logout</a>
    </p>
    <div style="width:45%; display:inline-block;">
        <h2>Recent Book Reviews:</h2>
        {% for review in reviewz %}
        <hr>
        <p><a href="/book/{{review.books.id}}">{{review.books.title}}</a></p>
            {% if review.books_id == review.books.id %}
                <p>Ratings: {{review.rating}}</p>
                <p><a href="/users/{{review.users.id}}">{{review.users.first_name}}</a> said :{{review.comments}}</p>
                <p>{{review.created_at}}</p>
            {% endif %}
        {% endfor %}
    
    </div>
    <div  style="width:45%; display:inline-block; vertical-align:top;">
        <h2>Other Books with Reviews:</h2>
            {% for review in reviewz %}
                <p><a href="/book/{{review.books.id}}">{{review.books.title}}</a></p>
            {% endfor %}
   
    </div>
</body>
</html>